#galleryContainer {
  height: 120px;
  width: 100%;
  max-width: 450px;
  overflow: auto;
  border: 1px solid white;
  margin: auto;
}

#galleryContainer > img {
  height: 100px;
  margin: 5px;
  cursor: pointer;
}
