#servicesPageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#container {
  width: 80vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
}

#container > div {
  width: calc(540px - 10px);
  max-width: 100%;
}

#container > div > img {
  height: 400px;
  max-width: 100%;
  margin: 0;
}

#galleryContainer {
  height: 180px;
}

#galleryContainer > p {
  color: white;
  margin: 15px 30px;
  font-style: italic;
  font-size: 20px;
  text-decoration: 2px underline;
  text-underline-offset: 6px;
}

#descriptionContainer {
  color: white;
  min-width: 32vw;
  max-width: 100%;
  margin: 0;
}

#descriptionContainer > h1 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 5.6vmax;
  color: #3963ab;
  line-height: 5vmax;
}

#descriptionContainer > h1 > span {
  display: inline-block;
  margin: 0 8px;
  font-weight: 500;
}

.bulletPoint {
  width: 380px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  margin: 1rem 0;
}

.bulletPoint > span {
  font-size: 17px;
  padding-left: 30px;
}

.bulletPoint > img {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 30px;
}

#details {
  color: gray;
  font-weight: 700;
}

#details > p {
  opacity: 0.6;
  margin: 0;
}

#enquiryBtn {
  background-color: #3963ab;
  color: white;
  border: none;
  padding: 8px 18px;
  padding-right: 40px;
  margin-top: 15px;
  box-shadow: 0 0 10px #3963ab;
  position: relative;
  cursor: pointer;
}

#enquiryBtn > img {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
}

::-webkit-scrollbar {
  width: 5px;
  color: white;
  background-color: #00000f;
}

::-webkit-scrollbar-thumb {
  background-color: #3963ab;
  width: 100%;
}

@media screen and (max-width: 425px) {
  #container > div {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #container {
    justify-content: center;
  }
}
