#blogInputContainer {
    height: 100vh;
    width: 100vw;
    padding: 5vh 0 10vh;
    position: relative;
}

#blogInputContainer>form {
    width: 80vw;
    background-color: #00000f;
    color: white;
    padding: 20px 0;
    margin: 0 auto;
}

.fieldContainer>input,
.fieldContainer>textarea {
    display: block;
    width: 90%;
    padding: 5px;
    font-size: 18px;
    margin: 10px auto 20px;
}

.fieldContainer>label {
    margin: 50px;
    font-size: 20px;
}

.fieldContainer>textarea {
    height: 40vh;
    max-height: 40vh;
}

#blogInputContainer>form>button {
    display: block;
    background-color: #3963ab;
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 30vw;
    font-size: 18px;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
}