#header {
    background-color: #00000f;
    height: 80px;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

#logo {
    height: 110px;
    width: 140px;
}

#nabBar>nav>a {
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
}

#nabBar>nav>a:hover {
    background-color: #fff;
    color: #000;
}